[Desktop Entry]
Version=1.0
Name=Obavina
Exec=/home/fernando/Documentos/BE3AV/graphic_obavina.py
icon=/home/fernando/Documentos/BE3AV/img/obivina_icon.png
Type=Application
Icon=/home/fernando/Documentos/BE3AV/img/obivina_icon.png
